.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.home__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.home_left{
    display: flex;
    align-items: center;
}
.home_left p{
    margin-right: 20px;
    font-size: 15px;
}
.home_right{
    display: flex;
    align-items: center;
}
.home_right p{
    margin-left: 20px;
}
.home_right svg{
    margin-right: 20px;
}
.home_right .MuiSvgIcon-root{
    margin-right: 3px;
    padding: 13px;

}
.home__body{
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}
.home__body>img{
    object-fit: contain;
    height: 100px;
}


